<div class="container">
    <p class="container__text"><strong>CONDIÇÕES DO AR</strong></p>

    <div class="container__wrapper">
        <div class="container__info">
            <div class="container__info--wrapper">
                <img class="container__info--icon" src="../../../../assets/images/gauge-icon.svg" />
                <span class="container__info--title">Sensação Térmica</span>
            </div>
            <p class="container__info--value">30°</p>
        </div>

        <div class="container__info">
            <div class="container__info--wrapper">
                <img class="container__info--icon" src="../../../../assets/images/wind-icon.svg" />
                <span class="container__info--title">Vento</span>
            </div>
            <p class="container__info--value">0.2 km/h</p>
        </div>

        <div class="container__info">
            <div class="container__info--wrapper">
                <img class="container__info--icon" src="../../../../assets/images/chance-of-rain-icon.svg" />
                <span class="container__info--title">Chance de chuva</span>
            </div>
            <p class="container__info--value">0%</p>
        </div>

        <div class="container__info">
            <div class="container__info--wrapper">
                <img class="container__info--icon" src="../../../../assets/images/uv-index-icon.svg" />
                <span class="container__info--title">Índice UV</span>
            </div>
            <p class="container__info--value">3</p>
        </div>
    </div>
</div>