<aside>
    <img src="../../../../assets/images/umbrella.png" alt="">
    <article>
        <img class="icon" src="../../../../assets/images/rainy-day.png" alt="">
        <p>Tempo</p>
    </article>
    <article>
        <img class="icon" src="../../../../assets/images/architecture-and-city.png" alt="">
        <p>Cidades</p>
    </article>
    <article>
        <img class="icon" src="../../../../assets/images/map.png" alt="">
        <p>Mapa</p>
    </article>
    <article>
        <img class="icon" src="../../../../assets/images/settings.png" alt="">
        <p>Configurações</p>
    </article>
</aside>