<div class="container">
    <p class="container__text"><strong>PREVISÃO DE HOJE</strong></p>
    <div class="container__forecast--wrapper">
        <div class="container__forecast">
            <p class="container__text"><strong>6:00 AM</strong></p>
            <div>
                <img style="width: 64px; height: 64px;object-fit: cover;" src="../../../../assets/images/raining.png">
            </div>
            <p class="container__temperature"><strong>25°</strong></p>
        </div>
        <div class="container__line"></div>

        <div class="container__forecast">
            <p class="container__text"><strong>6:00 AM</strong></p>
            <div>
                <img style="width: 64px; height: 64px;object-fit: cover;" src="../../../../assets/images/raining.png">
            </div>
            <p class="container__temperature"><strong>25°</strong></p>
        </div>
        <div class="container__line"></div>

        <div class="container__forecast">
            <p class="container__text"><strong>6:00 AM</strong></p>
            <div>
                <img style="width: 64px; height: 64px;object-fit: cover;" src="../../../../assets/images/raining.png">
            </div>
            <p class="container__temperature"><strong>25°</strong></p>
        </div>
        <div class="container__line"></div>

        <div class="container__forecast">
            <p class="container__text"><strong>6:00 AM</strong></p>
            <div>
                <img style="width: 64px; height: 64px;object-fit: cover;" src="../../../../assets/images/raining.png">
            </div>
            <p class="container__temperature"><strong>25°</strong></p>
        </div>
        <div class="container__line"></div>

        <div class="container__forecast">
            <p class="container__text"><strong>6:00 AM</strong></p>
            <div>
                <img style="width: 64px; height: 64px;object-fit: cover;" src="../../../../assets/images/raining.png">
            </div>
            <p class="container__temperature"><strong>25°</strong></p>
        </div>
    </div>
</div>