<div class="container">
    <p class="container__title"><strong>PREVISÃO DE HOJE</strong></p>
    <div class="container__forecast--wrapper">
        <ng-container *ngFor="let todayForecast of todayForecasts; let i = index">
            <div class="container__forecast">
                <p class="container__text"><strong>{{ todayForecast.time }}</strong></p>
                <div>
                    <img style="width: 64px; height: 64px; object-fit: cover;" [src]="todayForecast.icon">
                </div>
                <p class="container__temperature"><strong>{{ todayForecast.temperature }}°</strong></p>
            </div>
            <div class="container__line" *ngIf="i !== todayForecasts.length - 1"></div>
        </ng-container>
    </div>
</div>