/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #202B3B;
  --text-color: #7A828F;
  --secondary-color: #0B131E;
  --white-color: #DDE0E4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  font-family: sans-serif;
  height: 100vh;
  overflow-y: hidden;
}