/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #006666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}