/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: rgb(32, 43, 59);
  --text-color: #9399A2;
  --secondary-color: rgb(11, 19, 30);
  --white-color: #F0F1F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  font-family: sans-serif;
  height: 100vh;
  overflow-y: hidden;
}