<div class="container__home">
  <app-card-weather
    *ngFor="let weather of weatherInfoCity$ | async"
    [temperatura]="weather.temperature"
    [cidade]="weather.city"
    [tempo]="weather.icon"
    [descricao]="weather.description"
  ></app-card-weather>

  <app-today-forecast [todayForecasts]="todayForecasts"></app-today-forecast>

  <app-air-conditions
    *ngIf="!seeMoreButton"
    (seeMoreEvent)="seeMoreButtonEvent($event)"
  ></app-air-conditions>

  <div class="cards-info" *ngIf="seeMoreButton">
    <app-card-info></app-card-info>
    <app-card-info></app-card-info>
    <app-card-info></app-card-info>
    <app-card-info></app-card-info>
    <app-card-info></app-card-info>
  </div>
</div>
