<div class="container__home">
  <app-card-weather
    *ngFor="let weather of weatherInfoCity$ | async"
    [temperatura]="weather.temperature"
    [cidade]="weather.city"
    [tempo]="weather.icon"
    [descricao]="weather.description"
  ></app-card-weather>

  <app-today-forecast
    *ngIf="!seeMoreButton"
    [todayForecasts]="todayForecasts"
  ></app-today-forecast>

  <app-air-conditions
    *ngIf="!seeMoreButton"
    (seeMoreEvent)="seeMoreButtonEvent($event)"
  ></app-air-conditions>

  <div class="cards-info" *ngIf="seeMoreButton">
    <app-card-info [title]="'teste'" [value]="x[0].uv" icon=""></app-card-info>
    <app-card-info
      [title]="'teste'"
      [value]="x[0].wind"
      icon=""
    ></app-card-info>
    <app-card-info [title]="'teste'" [value]="x[0].uv" icon=""></app-card-info>
    <app-card-info [title]="'teste'" [value]="x[0].uv" icon=""></app-card-info>
    <app-card-info [title]="'teste'" [value]="x[0].uv" icon=""></app-card-info>
  </div>
</div>
